<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We use Bluetooth to find and connect with nearby devices when WiFi is not available.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We use Bluetooth to find and connect with nearby devices when WiFi is not available.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_hubchat._tcp</string>
		<string>_hubchat._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>We use the local network to find and chat with nearby contacts on the same WiFi.</string>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
